<div class="container header-container">
  <div class="row align-items-center" style="margin-top: 2em; margin-bottom: 2em;">
    <!-- Слева: имя и титул -->
    <div class="col-md-4 text-left">
      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.title | escape }}</h2>
    </div>

    <!-- По центру: логотип -->
    <div class="col-md-4 text-center">
      <div class="header-logo" style="padding: 1em;">
        <img src="{{ 'images/logo2-min.png' | relative_url }}" alt="Logo" style="width: 180px; height: auto;" />
      </div>
    </div>

<!-- Справа: контакты -->
<div class="col-md-4 text-right contact-block">
  {%- if site.email -%}
    <p style="font-size: 1.6em !important;">
      <strong>Email:</strong>
      <a href="mailto:{{ site.email }}" target="_blank" style="font-size: 1.6em !important;">
        {{ site.email | escape }}
      </a>
    </p>
  {%- endif -%}
  {%- if site.phone -%}
    <p style="font-size: 1.6em !important;">
      <strong>Phone:</strong> {{ site.phone | escape }}
    </p>
  {%- endif -%}
  {%- if site.website -%}
    <p style="font-size: 1.6em !important;">
      <strong>Web:</strong>
      <a href="{{ site.website }}" target="_blank" style="font-size: 1.6em !important;">
        {{ site.website | escape }}
      </a>
    </p>
  {%- endif -%}
</div>
    

  <!-- Соцсети -->
  <div class="row">
    <div class="col-12 text-center">
      <ul class="icons no-print">
        {%- if site.github_username -%}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username | cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-github" title="GitHub"></i>
            </a>
          </li>
        {%- endif -%}
      {% for link in site.additional_links %}
  <li>
    {% include a.html href=link.url class="button button--sacnite button--round-l" %}
      <i class="{{ link.icon }}" title="{{ link.title }}"></i>
  </li>
{% endfor %}
